<html ng-app="sanaApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/js/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-resource.js"></script>
</head>
<body ng-controller="SymptomsCtrl">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="Name">Patient Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Name" placeholder="Enter Patient Name:" ng-model="patient.name">
        </div>
      </div>
      <div class="form-group" ng-repeat="symptom in symptoms">
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Name" placeholder="Enter Symptom:" />
        </div>
      </div>          
      <div class="form-group">
        <div class="col-sm-10">
          <button ng-click="addSymptom()">Add Symptom</button>
        </div>
      </div>      
    </form>
  </div>
  <div class="col-lg-3"></div>
  <script src="/js/addSymptoms.js"></script>
</body>
</html>
