<html ng-app="sanaApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/js/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-resource.js"></script>
	<script src="/js/login.js"></script>
</head>
<body ng-controller="loginCtrl">
<div data-ng-controller="loginCtrl" data-ng-init="init()"></div>
<h1>helllo</h1>
</body>
</html>
